<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Schedule</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" th:href="@{/home}">Tshwane Loadshedding</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/home}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/groups}">Group Listing</a>
            </li>
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Schedule
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" th:href="@{/schedule}">All</a>
                    <a class="dropdown-item" th:href="@{/schedule/today}">Today</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

    <div class="container-fluid mt-4">
        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th scope="col">Group</th>
                <th scope="col">Day Of The Month</th>
                <th scope="col">Stage</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="schedule: ${schedules}">
                <th scope="row" th:text="${schedule.group.groupCode}"></th>
                <td th:text="${schedule.dayOfTheMonth}"></td>
                <td th:text="${schedule.stage}"></td>
                <td th:text="${schedule.startTime}"></td>
                <td th:text="${schedule.endTime}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>